<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<h2>Пользователи</h2>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr var="user" items="${users}">
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.email}"></td>
        <td>
            <form th:action="@{/edit}">
                <button type="submit" th:name="id" th:value="${user.id}">Edit</button>
            </form>
        </td>
        <td>
            <form method="post" th:action="@{/users/delete}">
                <button type="submit" th:name="id" th:value="${user.id}">Delete</button>
            </form>
        </td>
    </tr>
    </tr>
    </tbody>
</table>
<a th:href="@{/users/new}">Create new user</a>
</body>
</html>